.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.controls {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.controls-button {
  width: 100px;
}
